# Ignore node_modules in both client and server
react-ecommerce/node_modules/
server/node_modules/
node_modules/

# Ignore .env files in both client and server
react-ecommerce/.env
server/.env
.env

# Ignore logs and build files
*.log
client/build/
server/dist/
